:root {
    --black: #515151;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-header {
    padding-bottom: 23px;
    background-color: #F6F6F9;
    border-top: 4px solid #295093;
}

.header-info {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-info__logo {
    background-color: #fff;
    padding: 2px;
    margin-right: 25px;
}

.header-info__logo img {
    display: block;
}

.header-info__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
}

.header-info__list li:not(:last-child) {
    margin-right: 25px;
}

.header-info__item {
    font-size: 16px;
    font-weight: 400;
    color: #888;
}

.header-info__birlik {
    font-size: 16px;
    font-weight: 700;
    color: #285193;
}

.header-info__search-btn {
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    background-color: #fff;
    border-color: transparent;
    border-radius: 5px;
    margin-right: 22px;
}

.header-info__btns {
    display: flex;
    align-items: center;
}

.header-info__languages-btn {
    display: flex;
    align-items: center;
    padding: 6px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 23px;
    font-size: 16px;
    font-weight: 500;
    color: #535353;
}

.header-info__languages-btn::before {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    background-image: url(../images/flag-russian.svg);
    content: "";
    background-repeat: no-repeat;
    background-position: center;
}

.header-info__telegram {
    display: flex;
    align-items: center;
    padding: 10px;
    background: linear-gradient( 90deg, #1E96C8, #37AEE2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.header-info__telegram::before {
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 7px;
    background-image: url(../images/icon-telegram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.sitenav {
    padding: 22px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 18px;
}

.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav-item:not(:last-child) {
    margin-right: 17px;
}

.nav-link {
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    color: var(--black);
}

.header-banner img {
    display: block;
}


/* START MAIN STYLES */

main {
    padding-top: 22px;
    padding-bottom: 38px;
}

.main__statistics {
    padding: 40px 35px;
    background-color: #F6F6F9;
    border-radius: 5px;
}

.main-statistics__first-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.main-statistics__first-item {
    display: flex;
    align-items: center;
}

.main-statistics__first-item:first-child {
    padding-right: 71px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: 2px solid #EB5569;
    font-size: 20px;
    font-weight: 500;
}

.main-statistics__first-item:first-child::before {
    display: flex;
    width: 43px;
    height: 45px;
    margin-right: 35px;
    content: "";
    background-image: url(../images/header-statistics-1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-statistics__second-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-statistics__second-item {
    padding-left: 30px;
    padding-right: 42px;
    display: flex;
    align-items: center;
}

.main-statistics__second-item:not(:last-child) {
    border-right: 2px solid #F4CCD1;
}

.main-statistics__second-item:first-child::before {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    display: block;
    content: "";
    background-image: url(../images/header-statistics-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-statistics__second-item:nth-child(2):before {
    width: 40px;
    height: 40px;
    margin-right: 17px;
    display: block;
    content: "";
    background-image: url(../images/header-statistics-3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-statistics__second-item:last-child::before {
    width: 38px;
    height: 38px;
    margin-right: 17px;
    display: block;
    content: "";
    background-image: url(../images/header-statistics-4.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-statistics-second-item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-statistics-second-item__title {
    font-size: 14px;
    font-weight: 400;
}

.main-statistics__second-item:first-child .main-statistics-second-item__title {
    color: #DB0000;
}

.main-statistics__second-item:nth-child(2) .main-statistics-second-item__title {
    color: #05B135;
}

.main-statistics-second-item__number {
    font-size: 25px;
    font-weight: 500;
}

.main-news {
    padding-top: 18px;
    padding-bottom: 34px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.main-news_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-news-card__link {
    font-size: 17px;
    font-weight: 500;
    color: #202020;
    margin-top: 11px;
    margin-bottom: 11px;
    text-decoration: none;
}

.main-news-card__time {
    font-size: 14px;
    font-weight: 400;
    color: #6B6D97;
}

.main-cookies {
    padding: 25px 20px 25px 35px;
    display: flex;
    align-items: center;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
}

.main-cookies::before {
    width: 31px;
    height: 35px;
    content: "";
    background-image: url(../images/bell-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 17px;
}

.main-cookies-text {
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
}

.main-cookies_btn {
    padding: 8px;
    padding-left: 15px;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.main-add {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #F6F6F9;
}

.main-add__image {
    margin-top: 40px;
}

.main-add__info {
    width: 526px;
    margin-right: 63px;
}

.main-add__title {
    font-size: 24px;
    font-weight: 500;
    color: #295093;
}

.main-add__text {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.main-add__btns {
    display: flex;
}

.main-add__btn img {
    display: block;
}

.main-add__btn:first-child {
    margin-right: 20px;
}

.news-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.last-news__wrapper {
    margin-right: 60px;
}

.last-news__card {
    display: flex;
    align-items: flex-start;
    margin-top: 18px;
}

.last-news__img {
    margin-right: 20px;
}

.last-news__info {
    width: 450px;
}

main h2 {
    font-size: 20px;
    font-weight: 500;
}

.last-news__link {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
    color: #202020;
}

.last-news__text {
    font-size: 15px;
    font-weight: 400;
    color: #434343;
}

.last-news__data {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #7688A4;
}

.last-news__data::before {
    width: 15px;
    height: 18px;
    margin-right: 3px;
    display: block;
    content: "";
    background-image: url(../images/calendar-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-last-news__btn {
    margin: 18px auto 38px auto;
    display: flex;
    padding: 10px 30px;
    border-color: transparent;
    background-color: #295093;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
}

.popular-news__wrapper {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background-color: #F6F6F9;
}

.popular-news__title {
    margin: 0;
    padding: 0;
}

.popular-news__card {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
}

.popular-news__link {
    width: 270px;
    font-size: 17px;
    font-weight: 400;
    color: #202020;
    margin-bottom: 11px;
    text-decoration: none;
}

.popular-news__data {
    font-size: 14px;
    font-weight: 400;
    color: #7688A4;
}

.popular-news__card:not(:last-child) {
    border-bottom: 4px solid #E4E4E4;
}

.popular-news__add img {
    display: block;
}


/* START FOOTER STYLES */

.site-footer {
    background-color: #295093;
}

.footer-first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 3px solid #133C82;
}

.footer-logo {
    padding: 7px;
    background-color: #133C82;
}

.footer-logo img {
    display: block;
}

.footer-telegram-link {
    display: flex;
    align-items: center;
}

.footer__telegram {
    display: flex;
    align-items: center;
    margin-left: 17px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #295093;
    text-decoration: none;
}

.footer__telegram::before {
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 7px;
    background-image: url(../images/footer-telegram-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-telegram-text {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.footer-second-row {
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 13px;
}

.footer-info {
    width: 365px;
    margin-right: 111px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.footer-info-title {
    font-weight: 500;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list:not(:last-child) {
    margin-right: 115px;
}

.footer-item {
    margin-bottom: 8px;
}

.footer-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}